<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Product detail</title>
</head>
<body class="bg-warning">
    <h1>Product Details</h1>
    <h1><%= name %></h1>
    <h2>Price : <%= price %></h2>
    <img src="<%= imageUrl %>" width="100px" height="100px" alt="">
</body>
</html>