<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
</head>
<body>
    <h1>Product Details</h1>
    <h1><%= name %></h1>
    <h2>Price : <%= price %></h2>
    <img src="/public/images/ <%= imageUrl %>" alt="">
</body>
</html>